<div class="page-header">
  <h1 class="text-center">Ever Find Yourself Stuck With The Same?</h1>
  <br><p class="text-center">Pocket Palette helps you explore Bates College Commons all over again!</p>
<img src="http://www.thefoodpsychologist.com/wp-content/uploads/2013/03/Coming-Soon.jpg" class="img-responsive" alt="Responsive image">