<div class="page-header">
  <h1 class="text-center">Ever Find Yourself Stuck With The Same?</h1>
  <br><p class="text-center"><font size="5">Pocket Palette helps you explore Bates College Commons all over again!</font></p>
  <br></br>
<p class="text-center"><img src="http://s22.postimg.org/romc4w2td/bannerfans_11384104_5.gif" alt="Responsive image"></p><br>
<p><font size="4">Pocket Palette is an online, user generated Bates College Commons Cookbook! (Try saying that three times fast...) Here on Pocket Palette, your culinary creativity can run free! Whether you're looking to spice up your commons repetiore, learn from the seasoned pros around campus, or show off your fancy food skills, Pocket Palette is for you! (None of those puns were planned, but they sure do add something, don't they?)</font></p><br>

<p class="text-center"><img src="http://s22.postimg.org/a13kgeiip/bannerfans_11384104_1.gif" alt="Responsive image"></p><br>
<p><font size="4"> Our Mission at Pocket Palette is to provide a creative platform for all culinary coniseuers at Bates. We are exclusively available to the Bates community and aim to provide a common space for commons! <br>
<p class="text-center"><img src="http://s30.postimg.org/6znsxgw75/bannerfans_11384104_2.gif" alt="Responsive image"></p><br>
<h2 class="text-center">Meet our Team!</h2> <br>
<h3 class="text-center">Founder/Lead Engineer</h3>
<p class="text-center"><img src="http://img0.uploadhouse.com/fileuploads/19443/19443880b47ccf916dbb4adad50bd26736057ae6.jpg"></p>
<h3 class="text-center">Rebeccah Bassell '16</h3>

<dl class="dl-horizontal">
  <dt>About</dt>
  <dd>Rebeccah is currently a rising junior at Bates College in Lewiston Maine. She is a Rhetoric Major and self proclaimed foodie. As a super fan of cooking as well as technology, Rebeccah invented Pocket Palette to provide an outlet for her fellow Batesies to get crafty in commons!</dd> 
  <dt>Contact Information</dt>
  <dd>rbassell@bates.edu</dd>
</dl>

