// Place all the styles related to the page controller here
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$navbar-default-bg: rgb(133, 18, 38);
$navbar-default-color: red;
$navbar-default-link-color: white;
$navbar-border-radius: 0;



@import 'bootstrap';